html {
    height: 100%;
}
body {
    position: relative;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #555;
}

.tree {
    min-height:100px;
    padding:0px;
    margin-bottom:20px;
}

.tree > ul {
    padding: 0px;
}

.tree p {
    padding: 0px;
    margin: 0px;
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:5px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:18px;
    width:25px
}

.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}

.tree li span.tmph {
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border:none;
    border-radius:0px;
    display:inline-block;
}

.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.json-syntax-highlight pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.json-syntax-highlight .string { color: green; }
.json-syntax-highlight .number { color: darkorange; }
.json-syntax-highlight .boolean { color: blue; }
.json-syntax-highlight .null { color: magenta; }
.json-syntax-highlight .key { color: red; }